{% extends "AppBundle::base.html.twig" %}

{% block stylesheets %}
{% endblock %}

{% block body %}

    <a href="/cfp/t/all" class="label label-default conf-tag">all tags</a>
    {% for tag in tags %}
        <a href="/cfp/t/{{ tag }}" class="label label-default conf-tag">{{ tag }}</a>
    {% endfor %}

    <h2>Calling for Papers</h2>
    <p>Conferences with currently open call for papers.</p>

    <div class="row">

        <div class="col-md-3 col-md-push-9">
            <p>Want to be notified of a new Call for Papers?</p>
            {{ form_start(alertForm) }}
            {{ form_widget(alertForm) }}
            {{ form_rest(alertForm) }}
            {{ form_end(alertForm) }}
        </div>

        <div class="col-md-9 col-md-pull-3">
            <div class="well">
            {% for item in openCfps %}
                <div class="item-box">
                    {% include 'AppBundle::Event/item-block.html.twig' with {'event': item} only %}
                </div>
            {% endfor %}

            <p>
                <div class="btn-group" role="group">
                {% for p in pages %}
                    <a href="/cfp/t/{{ tag }}/{{ p }}" class="btn btn-default {{ p == page ? 'active' }}">{{ p }}</a>
                {% endfor %}
                </div>
            </p>
            </div>
        </div>

    </div>

{% endblock %}