<div class="row">

    <div class="col-md-6">

        {% if excludeName is not defined or excludeName == false %}
            <span class="conf-name">
                <a href="{{ path('events_view', {'id': event.id}) }}">{{ event.name }}</a>
            </span>
            {% if event.hasEnded() %}<span class="label label-danger">Ended</span>{% endif %}
            <br>
        {% endif %}

        {{ event.event_start|date("M j Y") }} - {{ event.event_end|date("M j Y") }}<br>
        Location: {{ event.location.name }}<br>

        {% if excludeLinks is not defined or excludeLinks == false %}
        <p><div class="btn-group" role="group">
            <a href="{{ event.organization.website }}" class="btn btn-default">
                <i class="fa fa-globe"></i>
                Website
            </a>
            <a href="https://twitter.com/{{ event.organization.twitter }}" class="btn btn-default">
                <i class="fa fa-twitter"></i>
                Twitter
            </a>
        </div></p>
        {% endif %}

    </div>

    <div class="col-md-6">

        {% set eventType = event.organization.getTypeName() %}
        Event type: {{ eventType }}

        {% if event.organization.type == 'conf' %}

            {% set cfpStatus = event.getCfpStatus() %}
            {% set cfpStatusLabels = {'upcoming': 'label-warning', 'open': 'label-success', 'closed': 'label-danger'} %}
            <p>
                Call for papers: 
                <span class="cfp-status label {{ cfpStatusLabels[cfpStatus.key] }}">{{ cfpStatus.name }}</span>
                {% if cfpStatus.key == 'open' %}
                    (ends {{ event.cfp_end|date("M j") }})
                {% elseif cfpStatus.key == 'upcoming' %}
                    (opens {{ event.cfp_start|date("M j") }})
                {% endif %}
                <br>
                Speaker kit includes: {{ event.organization.speaker_kit.getIncluded()|join(', ') }}
            </p>

        {% endif %}

        <p>
            {% for tag in event.organization.tags %}
                <span class="label label-default conf-tag">{{ tag }}</span>
            {% endfor %}
        </p>

    </div>

</div>